table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.dimensao_A{
    text-align: right;
    border-bottom: black solid 1px;
}
.dimensao_A input{
    margin-bottom: 10px;
}

.dimensao_B{
    text-align: left;
    border-bottom: black solid 1px;
}
.dimensao_B input{
    margin-bottom: 10px;
}

.gerar{
    border-bottom: black solid 1px;
}
#gerar{
    margin-bottom: 10px;
}

.operacoes input{
    margin-top: 5px;
    margin-bottom: 5px;
}

input[type="number"]{
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="button"]{
    width: 200px;
}
input[type="button"]:hover{
    width: 200px;
    cursor: pointer;
}

#gerar_A{
    margin-bottom: 20px;
}

#matriz_A, #matriz_B, #matriz_R{
    border: solid black;
    border-spacing: 10px;
    border-radius: 10px ;
    border-top: none;
    border-bottom: none;
    margin-bottom: 20px;
}

#matriz_A input, #matriz_B input{
    width: 30px;
    height: 30px;
    text-align: center;
}

#matriz_R td{
    width: 30px;
    height: 30px;
    text-align: center;
}

.resultado{
    border-top: black solid 1px;
    margin-top: 10px;
}
.resultado p{
    margin: 10px;
}

